<div class="container-fluid" style="position: relative">
  <div>
    <% iterator = 1 %>
    <% while iterator < 24 %>
      <div class="d-flex" style="position: absolute; top: <%= iterator * 100.0 / 24 %>%; left: 0; width: 100%; height: 1px; border: 0.5px solid #bcbabe;"></div>
    <% iterator += 1 %>
    <% end %>
  </div>

  <% event_list = event_object_list %>
  <% event_list = set_divider(event_list) %>
  <% event_list.each do |event| %>
    <% if check(event) %>
      <a href="<%= month_path %>">
        <div style="position: absolute; top: <%= @beginning %>%;
            background-color: <%= event.calendar.color %>; bottom: <%= @ending %>%;
        left: 0; width: <%= 100 / event.divider %>%; overflow: hidden; padding: 2px">
          <%= event.start_time_normal %> <br>
          <%= event.title %> <br>
          <%= event.location %> <br>
        </div>
      </a>
    <% end %>
  <% end %>
</div>
