<!DOCTYPE html>
<html class="full-height">
  <head>
    <title><%= yield(:title) %>Planander</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="full-height">
    <%= render 'layouts/header' %>
    <div class="wrapper full-height">
      <%= render 'layouts/sidebar' if logged_in? %>
      <div id="view-wrapper" class="container-fluid month-layout">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %> alert-dismissible" style="margin-bottom: 0;">
            <button type="button" class="close" aria-hidden="true">&times;</button>
            <p><%= message %></p>
          </div>
          <% end %>
        <%= yield %>
        <%#= debug(params) if Rails.env.development? %>
      </div>
    </div>
    <% if logged_in? %>
      <%= render 'layouts/new_calendar_modal' %>
      <%= render 'layouts/new_event_modal' %>
    <% end %>
    <script>
      $(document).ready(function () {
          $('#sidebarCollapse').on('click', function () {
              $('#sidebar').toggleClass('active');
          });

          $(".alert button.close").click(function (e) {
              $(this).parent().slideUp();
          });
      });
    </script>
  </body>
</html>
